.gal .gallery {
    display: flex;
    padding: 2px;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
}

.gal .gallery:hover .gallery__image {
    filter: grayscale(1);
}

.gal .gallery__column {
    display: flex;
    flex-direction: column;
    width: 28%;
}

@media (max-width:500px) {
    .gal .gallery__column {
        width: 33%;
    }
    .gal {
        padding-left: 2px;
        padding-right: 2px;
    }
}

.gal .gallery__link {
    margin: 2px;
    overflow: hidden;
}

.gal .gallery__link:hover .gallery__image {
    filter: grayscale(0);
}

.gal .gallery__link:hover .gallery__caption {
    opacity: 1;
}

.gal .gallery__thumb {
    position: relative;
}

.gal .gallery__image {
    display: block;
    width: 100%;
    transition: 0.3s;
}

.gal .gallery__image:hover {
    transform: scale(1.1);
}

.gal .gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}