.main_body{
    /* background-color: #850E35; */
}
.Heading{
    margin-top: 5%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 1.5% 7%;
    font-size: 10rem;
    font-weight: bolder;
    color: black;
    /* text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; */
}
.border{
    border-radius: 2%;
}
/* .adding-padding{
    padding-top: 50px;
    background-color: #CFF5E7;
    height: 500px;
} */
.Placement-heading{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 2% 5%;
    font-weight: bolder;
    color:black;
    /* text-shadow: 0 0 5px #0000FF; */
}
/* .company-details-division{
    align-items: center;
}  */
/* .company-details-division{
    padding:auto;
} */
.card-holder{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.hr{
    margin: 0;
}

.card-body{
    background-color: #F8F8F8;
}
.zoom {
    transition: transform 1s;
   }

   .zoom:hover { 
    transform: scale(1.15); 
}

.image-radius{
    border-radius: 5px;
}
.moving-carousel{
    margin-top: 4.5rem;
}

/* Section second last to footer */
.styled-hr {
    border: 2px;
    background-image: linear-gradient(to right, 
      #9A1663 0%, 
      #FF9F9F 99%, 
      #FF577F 100%
    );
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
.Stats{
    text-align: center;
    font-family: 'Anek Malayalam', sans-serif;
    margin: 10px 0px;
}
.Heading-of-stats{
    font-family: 'Noto Serif Ahom', serif;
    font-weight: bolder;
}
.card-text{
    font-family: 'Anek Malayalam', sans-serif;
    font-size: 1.5rem;
}


.card-blur{
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}







/* For adding text over image */

.container-of-image {
    position: relative;
    width: 500px;
    height: 300px;
    box-sizing: content-box;
  }
  
  .Placement-banner {
    width: 100%;
    height: 100%;
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }

  .Placement-banner1 {
    width: 100%;
    height: 100%;
  }
  
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
    text-align: center;
    margin-top: 0%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 1.5% 7%;
    font-size: 3.75rem;
    font-weight: bolder;
    color: white;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  }


.Last-heading{
    /* margin-top:  */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 1.5% 7%;
    font-size: 2.5rem;
    font-weight: bolder;
    color: black;
}
  


.consolidated-statistics{
    margin-bottom: 7%;
}
/* .container-of-box{
    align-items: center;
} */
